@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;500;700;900&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: hsl(225, 100%, 94%);
  font-family: 'Red Hat Display', sans-serif;
}
img {
  max-width: 375px;
  border-radius: 25px 25px 0 0;
}
h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}
b {
  color: black;
}
.main-container {
  width: 375px;
  margin: 30px auto;
  border-radius: 25px;
  background-color: #fff;
}
.main-container p {
  font-size: 16px;
  padding: 15px 30px;
  text-align: center;
  color: #7c7c7c;
  margin: 0;
}
.main-container .main-p {
  padding: 15px 50px;
}
.plan {
  display: flex;
  margin: 20px 30px 0 30px;
  padding: 10px;
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
}
.plan a {
  font-weight: bold;
  color: hsl(245, 75%, 52%);
  flex-grow: 1;
  margin: auto 0;
}
.plan a:hover {
  text-decoration: none;
}
.plan img {
  flex-grow: 1;
}
.plan p {
  flex-grow: 2;
  text-align: left;
}
.btn1 {
  background-color: hsl(245, 75%, 52%);
  text-align: center;
  margin: 20px 30px 0 30px;
  padding: 15px;
  border-radius: 10px;
}
.btn1:hover {
  background-color: hsl(223, 47%, 23%);
  color: black;
}
.btn1 a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;

}
.btn2 {
  text-align: center;
  margin: 10px 30px 10px 30px;
  padding: 15px;
  border-radius: 10px;
}
.btn2:hover {
  background-color: hsl(225, 100%, 94%);
}
.btn2 a {
  color: #7c7c7c;
  text-decoration: none;
  font-weight: bold;
}







@media all and (min-width: 768px) {
 body {
   background-image: url("C:/Users/Korisnik/Desktop/mentor/order-summary-component-main/images/pattern-background-desktop.svg");
   background-repeat: no-repeat;
 }
}
